.burger {
   height:13px;
    stroke:#fff;
    stroke-dashoffset: 25px;
    stroke-dasharray: 143px;
    transition: stroke-dashoffset 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), stroke-dasharray 0.4s;
  }
  .clicked {
    stroke-dashoffset: 179px;
    stroke-dasharray: 159px;   
  }
  .menu{
      position: relative;
      left:26px;
      height:18px;   
      
  }