* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
}

.App {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

.slide-wrapper {
  width: 100vw;
  height: 100vh;
  background: #1d467a;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.page {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5),
    0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  border: 1px solid green;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-img {
  /* width: auto;
  height: 100%; */
  transform: rotate(180deg);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.page3 {
  /* background:linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%); */
  background-color: #ebf0f7;
}

.page2 {
  background-image: url("./comps/yeah.png");
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --bg: #ebf0f7;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #ffffff;
  --light-grey: #c4cad3;
  --tag-1: #ceecfd;
  --tag-1-text: #2e87ba;
  --tag-2: #d6ede2;
  --tag-2-text: #13854e;
  --tag-3: #ceecfd;
  --tag-3-text: #2d86ba;
  --tag-4: #f2dcf5;
  --tag-4-text: #a734ba;
  --purple: #7784ee;
}




.tag-progress{
  margin-bottom: 12px;
}

.tag-progress h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.tag-progress p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.tag-progress p span {
  color: #b4b4b4;
}
.tag-progress .progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  height: 10px;
}
.tag-progress .progress::-webkit-progress-bar,
.tag-progress .progress::-webkit-progress-value {
  border-radius: 10px;
}
.tag-progress .progress--design::-webkit-progress-bar {
  background-color: #d8e7f4;
}
.tag-progress .progress--design::-webkit-progress-value {
  background-color: #08a0f7;
}
.tag-progress:nth-of-type(1) ::-webkit-progress-value {
  background: #d459e8;
}
.tag-progress:nth-of-type(1) ::-webkit-progress-bar {
  background-color: #ecd8e6;
}
.tag-progress:nth-of-type(2) ::-webkit-progress-value {
  background-color: #46bd84;
}
.tag-progress:nth-of-type(2) ::-webkit-progress-bar {
  background-color: #dee7de;
}
.tag-progress:nth-of-type(3) ::-webkit-progress-value {
  background-color: #08a0f7;
}
.tag-progress:nth-of-type(3) ::-webkit-progress-bar {
  background-color: #d8e7f4;
}
.tag-progress:nth-of-type(4) ::-webkit-progress-value {
  background-color: #f7b708;
}
.tag-progress:nth-of-type(4) ::-webkit-progress-bar {
  background-color: #f4edd8;
}
.tag-progress:nth-of-type(5) ::-webkit-progress-value {
  background-color: #f70808;
}
.tag-progress:nth-of-type(5) ::-webkit-progress-bar {
  background-color: #f4d8d8;
}


.light-pane {
  flex-basis: 50%;
  background: var(--white);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.light-pane h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.light-pane span{
  color: var(--light-grey);
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.box{
  height: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
align-items: center;
justify-content: center;


}

.box-column{
  max-width: 600px;
}